#map {
	height: 100%;
}

/*

CSS Files Related to the Search Bar in the Upper Left

*/

#mapmenu {
	position: absolute;
  	top: 0px;
 	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

#maptitle {
	text-align: center;
}

#metroinput {
	width: 99%;
	font-size: 16px;
}

#markerlist {
	height: 100px;
	padding-left: 0px;
	margin: 3px;

	overflow: auto;

	list-style-type: none;
}

.metroname {
	padding: 2px 0;
	width: 100%;
}

.metroname:hover {
	cursor: pointer; 
	cursor: hand;
	background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6, body, html, p {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#incidents {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.incidentinfo {
	list-style: none;
	margin-top: 10px;
}



/*

CSS Files Related to the markers

*/

.markerdest {
	width: 60%;
	margin-bottom: 3px;
}

.markertime {
	width: 20%;
	margin-bottom: 3px;
}

.markerline {
	width: 30px;
	text-align: center;
	margin-bottom: 3px;
}

.stationname {
	font-weight: bold;
	margin-bottom: 2px;
}

.stationline {
	font-size: 1em;
}

.metrostationsserved {
	padding-top: 5px;
}

.apiinfo {
	padding-top: 5px;
	font-size: 0.6rem;	
}

/*

Station Colors

*/

#content {
	display: flex;
	flex-wrap: wrap;
	max-width: 250px;
}

.stationline {
	width: 30px;
	text-align: center;
	border-radius: 5px;
	bottom-margin: 3px;
	padding: 2px 0;
}

.RD	{background-color: red; color: white;}
.YL	{background-color: yellow;}
.GR	{background-color: green; color: white;}
.SV	{background-color: silver;}
.OR	{background-color: orange; color: white;}
.BL	{background-color: blue; color: white;}
.null {display: none;}

/*

	Responsive Media Queries

*/

@media (min-width: 600px) {
	#mapmenu {
		top: 5px;
		left: 5px;

		width: 240px;
		padding: 10px;
	}

	#markerlist {
		height: 200px;
	}
}
