#map{
	height: 100%;
}

/*

CSS Files Related to the Search Bar in the Upper Left

*/

#mapMenu{
	position: absolute;
  	top: 0px;
 	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

#mapTitle{
	text-align: center;
}

#metroInput{
	width: 99%;
	font-size: 16px;
}

#markerList{
	height: 100px;
	padding-left: 0px;
	margin: 3px;

	overflow: auto;

	list-style-type: none;
}

.metroName{
	padding: 2px 0;
}

.metroName:hover{
	cursor: pointer; 
	cursor: hand;
	background-color: lightgreen;
}

h1, h2, h3, h4, h5, h6, body, html, p{
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*

CSS Files Related to the markers

*/


.stationName{
	font-weight: bold;
}

.stationLine{
	font-size: 0.9em;
}

/*

Station Colors

*/

.RD	{background-color: red; color: white;}
.YL	{background-color: yellow;}
.GR	{background-color: green; color: white;}
.SL	{background-color: silver;}
.OR	{background-color: orange; color: white;}
.BL	{background-color: blue; color: white;}
.null {display: none;}

/*

	Responsive Media Queries

*/

@media (min-width: 600px) {
	#mapMenu {
		top: 5px;
		left: 5px;

		width: 240px;
		padding: 10px;
	}

	#markerList{
		height: 200px;
	}
}
