#map{
	height: 100%;
}

#menu{

}

#metroInput{
	position: absolute;
	top: 5px;
	left: 5px;
}

h1, h2, h3, h4, h5, h6, body, html, p{
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.stationName{
	font-weight: bold;
}

.stationLine{
	font-size: 0.9em;
	font-weight: 200;
	color: white;
	padding: 1px 3px;
	border-radius: 3px;
}

.stationLine.red{
	background-color: red;
}

.stationLine .yellow{
	background-color: yellow;
}